@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #3b55a8;
    font: normal 16px arial;
    padding: 18px;
}

header {
    color: white;
    text-align: center;
}

main {
    max-width: 500px;
    background-color: white;
    padding: 12px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #00000044;
}

div > p {
    margin: 15px;
}

p > input {
    background-color: #808080;
    color: white;
    padding: 4px;
}

div > input#botao {
    background-color: #3b55a8;
    color: white;
    padding: 5px;
    margin: 10px 15px;
}

div#res {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}