@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(to top, #023059, #04BF8A);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #049DD9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #023059;
}

input[type="number"] {
    padding: 10px;
    width: 200px;
    background-color: #023059;
    color: white;
    font-weight: 600;
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="number"]:focus {
    border-color: #04BF8A;
    outline: none;
    box-shadow: 0 0 10px rgb(2, 73, 53);
}

button {
    display: block;
    width: 50%;
    padding: 10px 20px;
    margin: 1rem auto;
    background-color: #28a745;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    color: #061649;
}